#home {
    display: flex;
    min-height: calc(100vh - 90px);
    position: relative;
}

#cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3rem;
    color: var(--color-neutral-1);
}

#cta .title span {
    color: var(--color-primary-4);
}

#cta .description {
    font-size: 1.1rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    justify-content: end;
    width: 100%;
    z-index: 2;
}

#banner img {
    border: solid var(--color-primary-4) 4px;
    box-shadow: var(--color-neutral-1) 5px 5px 15px;
    border-radius: 30% 0% 30% 0%;
    width: fit-content;
    max-width: 600px;
    position: relative;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }

}
